<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Expeditor</display-name>
  <welcome-file-list>
    <welcome-file>/WEB-INF/jsp/acces/welcome.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <description>Exemple de pool de connexion</description>
    <res-ref-name>jdbc/Expeditor</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
    <res-sharing-scope>Shareable</res-sharing-scope>
  </resource-ref>
  <servlet>
    <description></description>
    <display-name>EmployeServlet</display-name>
    <servlet-name>EmployeServlet</servlet-name>
    <servlet-class>fr.eniecole.servlet.EmployeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeServlet</servlet-name>
    <url-pattern>/EmployeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WelcomeServlet</display-name>
    <servlet-name>WelcomeServlet</servlet-name>
    <servlet-class>fr.eniecole.servlet.WelcomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WelcomeServlet</servlet-name>
    <url-pattern>/WelcomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Deconnexion</display-name>
    <servlet-name>Deconnexion</servlet-name>
    <servlet-class>fr.eniecole.servlet.Deconnexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deconnexion</servlet-name>
    <url-pattern>/Deconnexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthManager</display-name>
    <servlet-name>AuthManager</servlet-name>
    <servlet-class>fr.eniecole.servlet.AuthManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthManager</servlet-name>
    <url-pattern>/AuthManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthEmploye</display-name>
    <servlet-name>AuthEmploye</servlet-name>
    <servlet-class>fr.eniecole.servlet.AuthEmploye</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthEmploye</servlet-name>
    <url-pattern>/AuthEmploye</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerServlet</display-name>
    <servlet-name>ManagerServlet</servlet-name>
    <servlet-class>fr.eniecole.servlet.ManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerServlet</servlet-name>
    <url-pattern>/ManagerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SuiviCommande</display-name>
    <servlet-name>SuiviCommande</servlet-name>
    <servlet-class>fr.eniecole.servlet.SuiviCommande</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuiviCommande</servlet-name>
    <url-pattern>/suiviCommande</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommandePrioritaireServlet</display-name>
    <servlet-name>CommandePrioritaireServlet</servlet-name>
    <servlet-class>fr.eniecole.servlet.CommandePrioritaireServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommandePrioritaireServlet</servlet-name>
    <url-pattern>/CommandePrioritaireServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>pdfServlet</display-name>
    <servlet-name>pdfServlet</servlet-name>
    <servlet-class>fr.eniecole.servlet.pdfServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pdfServlet</servlet-name>
    <url-pattern>/pdfServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NouvelleCommandeServlet</display-name>
    <servlet-name>NouvelleCommandeServlet</servlet-name>
    <servlet-class>fr.eniecole.servlet.NouvelleCommandeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NouvelleCommandeServlet</servlet-name>
    <url-pattern>/NouvelleCommandeServlet</url-pattern>
  </servlet-mapping>
</web-app>